<p>Hola,</p>
<p>Hemos recibido una solicitud para restablecer tu contraseña.</p>
<p>Haz clic en el siguiente enlace para cambiar tu contraseña:</p>
<p><a href='{{resetUrl}}'>Restablecer Contraseña</a></p>
<p>Si no solicitaste este cambio, puedes ignorar este correo.</p>
<p>Gracias,</p>