.section {
  background-color: #f3f4f6;
  padding: 4rem 1.5rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(
    to bottom right,
    #87da3a,
    #007e33
  ); /* Fondo igual */
  color: white;
  padding: 4rem 1.5rem;
  width: 100%; /* Banner ocupa todo el ancho de la pantalla */
  border-radius: 0; /* No bordes redondeados */
}

.intro h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.grid {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.cardContainer {
  background: linear-gradient(to bottom right, #87da3a, #007e33);
  border-radius: 0.8rem;
  perspective: 1000px;
  justify-content: center;
  width: 250px; /* Hacer la tarjeta m치s angosta */
  min-height: 400px; /* Aumentar la altura de las tarjetas */
  position: relative;
  margin: 0.5rem;
}

.card {
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardBack {
  transform: rotateY(180deg);
  background: linear-gradient(to bottom right, #87da3a, #007e33);
}

.available {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 6px;
  margin: 0.55rem;
}

.unavailable {
  background: none;
  margin: 0.2rem;
  color: white;
}

.unavailable span {
  color: red;
  font-weight: bold;
}

.gratis {
  background-color: white;
  color: #333;
}

.b치sico {
  background-color: #fff9c4;
  color: #fbc02d;
}

.premium {
  background-color: #c8e6c9;
  color: #2e7d32;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.button {
  background-color: #007e33;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #06b44b;
  transform: scale(1.05);
}

.line {
  margin-top: 5rem;
}

.title {
  background-color: #007e33;
  color: whitesmoke;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.precioMes {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
}

.divPrecio {
  margin-top: 0.5rem;
  color: whitesmoke;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.precioAnual {
  margin: 1rem;
  color: whitesmoke;
}

.textMonth {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente */
  gap: 1rem; /* espacio entre el select y el bot칩n */
  margin-top: 1rem; /* opcional: separaci칩n respecto al card */
}


.selectContainer select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: solid 1px #007e33;
  background-color: #f3f4f6;
  color: #007e33;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.selectContainer select:hover,
.selectContainer select:focus {
  border-color: #06b44b;
}

.selectContainer button {
  background-color: #007e33;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s, transform 0.3s;
}

.selectContainer button:hover {
  background-color: #06b44b;
  transform: scale(1.05);
}
